@'
fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
email-validator
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pypdf
google-genai
google-generativeai
python-dotenv
'@ | Set-Content -Path "requirements.txt" -Encoding UTF8